.menorah {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(to bottom, #3F51B5 70%, #0C27B6 30%)
}

.burn {
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration:1000ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  transform:rotate(-45deg) scale(1.5,1.5);
  &:nth-child(2) {
    animation-delay: 5000ms;
  }
}

@keyframes flicker{
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.04);}
  80%  {transform: rotate(-2deg) scaleY(0.92);}
  100% {transform: rotate(1deg);}
}
.melt {

}
